*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
a {
	text-decoration: none;
}
.contetnt-wrap {
	display: grid;
}
/*header css*/
.header {
	width: 100%;
	height: 1106px;
	position: relative;
	overflow: hidden;
	background-image: url(../img/headerbg.png);
	background-position: center; 
}
.logo-game {
	position: absolute;
	top: 33px;
	left: 60px;
}
.btn-header {
	position: absolute;
	right: 0px;
	top: 67px;
	display: flex;
}
.btn-header div {
	width: 160px;
	height: 56px;
	margin-right: 60px;
	border-radius: 50px;
	background-color:rgba(02,11,42,0.5);
	border:1px solid #899cda;
	font-size: 21px;
	color: #aaa;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color, color  0.3s;
}
.btn-header a:hover div{
	background-color:rgba(02,11,42,1);
	color: #dabebe;
}
.content-header {
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 50%;
}
.btn-play {
	background-image: url(../img/layoutbtn1.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 380px;
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-play  a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.btn-play  a span:nth-child(1){
	width: 48px;
	height: 48px;
	border-radius: 50%;
	font-size: 48px;
	color: rgba(255,255,255,1);
	transition:color 0.3s;
}
.btn-play a span:nth-child(2){
	position: absolute;
	left: 15px;
	font-size: 24px;
	color: #fff;
	color: rgba(0,0,0,0);
	transition:color 0.3s;
}
.btn-play a:hover span:nth-child(1){
	color: rgba(0,0,0,0);
}
.btn-play  a:hover span:nth-child(2){
	color: rgba(255,255,255,1);
}
/*content css*/
.content-body {
	width: 100%;
	height: 3850px;
	margin-top: -400px;
	position: relative;
	overflow: hidden;
	background-image: url(../img/contentbg.png);
	background-position: center; 
}
.content-body .info {
	margin-top: 500px;
}
.content-body .title-content {
	margin-bottom: 50px;
	width: 100%;
	height: 324px;
	color: #7C77B8;
	font-size: 60px;
	font-weight: bold;
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/layoutcontent.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.content-body .info .info-items {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}
.content-body .info .info-items .info-item {
	width: 288px;
	height: 517px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	transition: all 0.3s;
}
.content-body .info .info-items .info-item .item {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}.content-body .info .info-items .info-item .item a{
	position: absolute;
	bottom: 45px;
}
.content-body .info .info-items .info-item:hover{
	background-image: url(../img/layoutinfoitem.png);
	transform: translateY(-20px);
}
section{
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-container {
  width: 1176px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 814px;
  height: 100%;

}
.swiper-wrapper {
	margin-bottom: 50px;
	cursor: grab;
}
.follow {
	width: 100%;
	margin-top: -250px;
	height: 1200px;
	position: relative;
	overflow: hidden;
	background-image: url(../img/linkbg.png);
	background-position: center; 
	display: flex;
	justify-content: center;
}
.content-body .follow .title-content {
	position: absolute;
	top : 400px;
	margin-bottom: 50px;
	width: 100%;
	height: 324px;
	color: #FFF;
	font-size: 60px;
	font-weight: bold;
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/layoutcontent.png);
	background-position: center;
	background-repeat: no-repeat;
}
.content-body .follow .links {
	position: absolute;
	bottom: 350px;
}
.content-body .follow .links img{
	opacity: 0.6;
	margin: auto 20px;
	transition: opacity 0.3s;
}
.content-body .follow .links img:hover {
	opacity: 1;
}
.footer {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: #000;
}
.footer .language-setting {
	margin:0px 100px;
	color: #999;
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	border-bottom: #1a1a1a solid 2px;
}
.footer .language-setting .language{
	display: flex;
	justify-content: center;
	font-size: 20px;
}
.footer .language-setting .language span {
	padding: 10px 30px;
	cursor: pointer;
	transition: transform 0.3s;
}
.footer .language-setting .menu-language{
	background-color: #222;
	position: absolute;
	display: flex;
	top: -168px;
	left: 54%;
	box-sizing: border-box;
	padding: 0 20px;
	opacity: 0;
	transition: opacity 0.3s;
}
.footer .language-setting .menu-language:after {
	content: '';
    position: absolute;
    right: 73%;
    bottom: -10px;
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid #222;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.footer .language-setting .menu-language ul li{
	list-style: none;
	padding: 5px 20px;
	cursor: pointer;
	font-size: 16px;
}
.footer .language-setting .language:hover span:nth-child(3){
	transform: rotate(180deg);
}
.footer .language-setting .menu-language ul li:hover{
	color: #fff;
}
.language:hover .menu-language{
	opacity: 1;
}
.logo-footer{
	display: flex;
	align-items: center;
	position: absolute;
	left: 20%;
}
.logo-footer img:nth-child(1){
	margin-right: 20px;
	padding-right: 20px;
	border-right: #fff solid 2px;
}
.footer-content {
	padding: 50px;
	color: #fff;
}
.footer-content span {
	border-left: 1px solid #fff;
	padding: 0 10px;
}
.footer-content a {
	color: #7d7d7d;
	font-size: 16px;
}
.footer-content a:hover {
	text-decoration: underline;
	color: #fff;
}
.footer-content div{
	margin: 10px 0;
}
.footer-content div:last-child {
	color: #7d7d7d;
	font-size: 14px;
}